################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Metanury.Apps/.vs
/Metanury.Apps/EntityHelper/bin
/Metanury.Apps/EntityHelper/obj
/Metanury.Apps/Metanury.Apps.CryptoHelper/obj
/Metanury.Apps/Metanury.Apps.EntityHelper/bin
/Metanury.Apps/Metanury.Apps.EntityHelper/obj
/Metanury.Apps/Metanury.Apps.Paging/obj
/Nuget/Metanury.Apps.EntityHelper/lib
/Metanury.Apps/Metanury.Apps.Core/bin
/Metanury.Apps/Metanury.Apps.Core/obj
/Metanury.Apps/Metanury.Apps.CryptoHelper/bin
/Metanury.Apps/Metanury.Apps.Data/obj
/Metanury.Apps/Metanury.Apps.Data/bin
/Metanury.Apps/Metanury.Apps.Paging/bin
/Metanury.Apps/Metanury.Apps.File/obj
/Metanury.Apps/Metanury.Apps.File/bin
