<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <packageSources>
                <clear />
                <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
                <add key="metanuryappsdev" value="https://nuget.pkg.github.com/metanury/index.json" />
        </packageSources>
        <packageSourceCredentials>

                <metanuryappsdev>
                        <add key="Username" value="parkheesung" />
                        <add key="ClearTextPassword" value="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" />
                </metanuryappsdev>
        </packageSourceCredentials>
</configuration>